<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PigeonHole">
<listeners>
         <listener class-name="com.PigeonHole.Reports.ExtentReport"/>
         <listener class-name="com.PigeonHole.Reports.Listeners"/>
 </listeners>
  	<test name="QA_Test">
         <classes>
       <class name="com.PigeonHole.RegressionScripts.PigeonHole_QA_Test"/>
       </classes>
      </test><!-- Test -->
      
      <test name="MultipleChoicePoll_Test">
         <classes>
       <class name="com.PigeonHole.RegressionScripts.PigeonHole_MultipleChoicePoll_Test"/>
       </classes>
      </test><!-- Test -->
       <test name="CreateQuizSessions_Test">
         <classes>
       <class name="com.PigeonHole.RegressionScripts.PigeonHole_CreateQuizSessions_Test"/>
       </classes>
      </test><!-- Test -->
</suite> <!-- Suite -->
